{
  "presets": [
    ["@babel/preset-env", {"loose": true}],
  ],
  "plugins": [
    "babel-plugin-macros",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-proposal-class-properties",
  ]
}
