:root {
  --theme-background: #e7e6db;
  --theme-text-color: #8c9fa1;
  --theme-background--dark: #5c5c5c;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, small {
  letter-spacing: 0.5px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  line-height: 1.5;
  background-color: var(--theme-background);
  color: var(--theme-text-color);
  -webkit-font-smoothing: antialiased;
}

.App {
  width: 768px;
  max-width: 100vw;
  margin: 0 auto;
  padding: 2em 16px;
  padding-bottom: 4em;
}

@media (max-width: 768px) {
  .App-code {
    font-size: 14px;
  }
}

.App-title {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.App-title h2 {
  margin: 0.3em 0 0;
}

.App-title small {
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
}

.App-subtitle {
  font-size: 24px;
  font-weight: 600;
}
.App-sample {
  margin-bottom: 3rem;
}

.App-github {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.Demo {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.Example {
  margin-bottom: 50px;
}

.Example-code {
  margin-top: 3rem;
}

.Trigger {
  display: block;
  flex-shrink: 0;
  min-width: 160px;
  margin: 16px 0;
  padding: 8px 16px;
  border: 0;
  font-size: 20px;
  color: var(--theme-text-color);
  outline: none;
  border-radius: 0.5em;
  background: #dbd9d2;
  transition: all .2s ease;
}

.Trigger:active,
.Trigger:hover,
.Trigger:focus {
  background: #efe1b5;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.Overlay {
  animation: fade 0.3s ease 0.1s both;
}

.Dialog {
  width: 420px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.Dialog > button {
  font-size: 16px;
  padding: 4px 0;
  min-width: 100px;
}

.App-code {
  display: block;
  overflow: auto;
  padding: 15px;
  color: #494842;
  font-family: monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  font-size: 14px;
}

.App-description {
  margin-bottom: 4em;
}

:not(pre)>code[class*=language-], pre[class*=language-] {
  background-color: #f1efe1;
  border-radius: 6px;
  /* box-shadow: -10px -10px 50px #a2dce6,
              10px 10px 50px #324f54; */
  transition: all .2s ease;
}

:not(pre)>code[class*=language-]:hover, pre[class*=language-]:hover {
  /* box-shadow: -10px -10px 50px #a2dce6, 10px 10px 50px #44696f; */
}

:root {
  --sh-class: #585252;
  --sh-identifier: #787a6f;
  --sh-sign: #6c6551;
  --sh-string: #9f7f46;
  --sh-keyword: #2f2f2f;
  --sh-comment: #818c9b;
}

.sh__token--string {
  font-weight: 400;
}

.reflow-button {
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.reflow-button:hover {
  cursor: pointer;
}