html, html * {
  box-sizing: border-box;
}

html, body {
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  line-height: 1.5;
  background-color: #2a5961;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.App {
  max-width: 768px;
  margin: auto;
  padding: 2em 16px;
  padding-bottom: 500px;
}

.App-titile {
  margin: 30px 0;
  font-size: 36px;
  font-weight: 500;
}

.App-subtitle {
  font-size: 24px;
}

.Demo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0 1em;
}

.Toggler {
  display: inline-block;
  flex-shrink: 0;
  margin: .5em;
  padding: 8px 16px;
  border: 0;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  outline: none;
}

.Toggler:hover { background-color: rgba(0, 0, 0, .2); }
.Toggler:active { background-color: transparent; }

.App-code {
  display: block;
  overflow: auto;
  white-space: pre-wrap;
  padding: 0;
  
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
}

:not(pre)>code[class*=language-], pre[class*=language-] {
  background-color: rgba(180, 180, 180, 0.1);
}
