.Tooltip {
  position: absolute;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: #fff;
  font-size: 13px;
  line-height: 1.7;
  color: #354052;
  font-weight: 400;
  box-shadow: 0 5px 20px 0 rgba(0, 34, 20, .5);

  /*&:before, &:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  }*/

  &.Tooltip--top {
    transform: translate(-50%, calc(-100% - 5px));

    &:after {
      transform: translateX(-50%);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #fff;
      bottom: -5px;
      left: 50%;
    }
  }

  &.Tooltip--bottom {
    transform: translate(-50%, 5px);

    &:after {
      transform: translateX(-50%);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #fff;
      top: -5px;
      left: 50%;
    }
  }

  &.Tooltip--left {
    transform: translate(calc(-100% - 5px), -50%);

    &:after {
      transform: translateY(-50%);
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid #fff;
      right: -5px;
      top: 50%;
    }
  }

  &.Tooltip--right {
    transform: translate(5px, -50%);

    &:after {
      transform: translateY(-50%);
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid #fff;
      left: -5px;
      top: 50%;
    }
  }
}


.Tooltip-content {
  position: relative;
  max-width: 300px;
  padding: 2px 10px;
}
